<a href="https://colab.research.google.com/github/alexisbianco0919/compsci216-project/blob/main/MD2C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# MD2C - Merged Data 2 Clean

## Import and Setup

In [88]:
# import needed libraries
import pandas as pd
import numpy as np
import re

In [89]:
# download data from merged_data.csv
md = pd.read_csv('https://raw.githubusercontent.com/alexisbianco0919/compsci216-project/main/merged_data.csv')

# Drop first column which was a duplicate index column
md.drop(columns=md.columns[0], axis=1, inplace=True)

# visualize data
md

      self_employeed    company_size  ... state_work  year
0                  0          26-100  ...        NaN  2016
1                  0            6-25  ...   Illinois  2016
2                  0            6-25  ...        NaN  2016
3                  1             NaN  ...        NaN  2016
4                  0            6-25  ...   Illinois  2016
...              ...             ...  ...        ...   ...
2953               0  More than 1000  ...        NaN  2019
2954               1             NaN  ...  Louisiana  2019
2955               1             NaN  ...        NaN  2019
2956               0  More than 1000  ...        NaN  2019
2957               0  More than 1000  ...     Oregon  2019

[2958 rows x 30 columns]

## Cleaning Columns
Although 3 people have currently been assigned to clean the columns, I felt it was better to split the colums into 6 sections to avoid the cleaning taking place in such large clusters. Definitely feel free to add more cells in order to have more space for cleaning.

### Cleaning Rows 1-5

In [90]:
# Code
#Self-employed
md['self_employeed'] = md['self_employeed'].astype(bool)

#company size I think is fine as is
md['company_size'].value_counts()

#tech_company
md['tech_company'] = md['tech_company'].astype(bool)

#tech_prole
md['tech_prole'] = md['tech_prole'].astype(bool)

#mh_benefits
md['mh_benefits'] = md['mh_benefits'].replace('Not eligible for coverage / N/A', 'Not eligible for coverage / NA').value_counts()

### Cleaning Rows 6-10

In [91]:
# Code

#anonymity I think is fine as is

md['anonymity'].value_counts()

#leaving_difficulty is fine but there are a lot of NaN values

md['leaving_difficulty'].value_counts()

#disc_mh_coworker is fine but there are a lot of NaN values

md['disc_mh_coworker'].value_counts()

#disc_mh_supervisor is fine but there are a lot of NaN values

md['disc_mh_supervisor'].value_counts()

#reveal_mh_business is fine but there are a lot of NaN values

md['reveal_mh_business'].value_counts()

Not applicable to me                         175
No, because it would impact me negatively    140
Sometimes, if it comes up                    109
No, because it doesn't matter                 73
Yes, always                                    7
Name: reveal_mh_business, dtype: int64

### Cleaning Rows 10-15

In [92]:
# Code

#reveal_mh_coworkers

md['reveal_mh_coworkers'].value_counts()

#affects_productivity

md['affects_productivity'].value_counts()

#productivity_percent

md['productivity_percent'].value_counts()

#mention_ph_interview

md['mention_ph_interview'].value_counts()

#mention_mh_interview
md['mention_mh_interview'].value_counts()

No       1059
Maybe     391
Yes        75
Name: mention_mh_interview, dtype: int64

### Cleaning Rows 16-20

In [93]:
# Code

#share_mh_ff
md['share_mh_ff'].value_counts()

#exp_unsupport
md['exp_unsupport'].value_counts()

#reveal_less
md['reveal_less'].value_counts()

#family_history
md['family_history'].value_counts()

#mh_in_past
md['mh_in_past'].value_counts()

Yes           1417
No             896
Possibly       275
Maybe          246
Don't Know     109
Name: mh_in_past, dtype: int64

### Cleaning Rows 20-25

In [101]:
# Code

#mh_currently
md['mh_currently'].value_counts()

#mh_diagnosed
md['mh_diagnosed'].value_counts()

#sought_treatment
vals = {'1':True,
        '0': False,
        'True': True,
        'False': False}

md['sought_treatment'] = md['sought_treatment'].replace(vals)
md['sought_treatment'].value_counts()

#age
#md['age'].value_counts()

#gender
#md['gender'].value_counts()

True     936
False    589
Name: sought_treatment, dtype: int64

### Cleaning Rows 26-30

In [95]:
# Code

#country_live
md['country_live'].value_counts()

#state_live
md['state_live'].value_counts()

#country_work	
md['country_work'].value_counts()

#state_work
md['state_work'].value_counts()

#year is fine
md['year'].value_counts()

2016    1433
2017     756
2018     417
2019     352
Name: year, dtype: int64