# MD2C - Merged Data 2 Clean

## Import and Setup

In [1]:
# import needed libraries
import pandas as pd
import numpy as np
import re

In [8]:
# download data from merged_data.csv
md = pd.read_csv('https://raw.githubusercontent.com/alexisbianco0919/compsci216-project/main/merged_data.csv')

# Drop first column which was a duplicate index column
md.drop(columns=md.columns[0], axis=1, inplace=True)

# visualize
md

,self_employeed,company_size,tech_company,tech_prole,mh_benefits,anonymity,leaving_difficulty,disc_mh_coworker,disc_mh_supervisor,reveal_mh_business,...,mh_currently,mh_diagnosed,sought_treatment,age,gender,country_live,state_live,country_work,state_work,year
0,0,26-100,1.0,NaN,Not eligible for coverage / N/A,I don't know,NaN,NaN,NaN,NaN,...,No,NaN,NaN,39.0,Male,United Kingdom,NaN,United Kingdom,NaN,2016
1,0,6-25,1.0,NaN,No,Yes,NaN,NaN,NaN,NaN,...,Yes,NaN,NaN,29.0,male,United States of America,Illinois,United States of America,Illinois,2016
2,0,6-25,1.0,NaN,No,I don't know,NaN,NaN,NaN,NaN,...,No,NaN,NaN,38.0,Male,United Kingdom,NaN,United Kingdom,NaN,2016
3,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Sometimes, if it comes up",...,Yes,NaN,NaN,43.0,male,United Kingdom,NaN,United Kingdom,NaN,2016
4,0,6-25,0.0,1.0,Yes,No,NaN,NaN,NaN,NaN,...,Yes,NaN,NaN,43.0,Female,United States of America,Illinois,United States of America,Illinois,2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2953,0,More than 1000,False,True,I don't know,I don't know,Somewhat difficult,No,No,NaN,...,Possibly,NaN,False,27.0,male,India,NaN,India,NaN,2019
2954,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Not applicable to me,...,No,NaN,False,48.0,m,United States of America,Louisiana,United States of America,Louisiana,2019
2955,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Not applicable to me,...,No,NaN,False,50.0,M,India,NaN,India,NaN,2019
2956,0,More than 1000,True,True,No,Yes,Difficult,Maybe,No,NaN,...,Possibly,NaN,False,30.0,female,India,NaN,India,NaN,2019
2957,0,More than 1000,True,True,Yes,Yes,Somewhat difficult,No,Maybe,NaN,...,Yes,Yes,True,24.0,Female (cis),United States of America,Oregon,United States of America,Oregon,2019

## Cleaning Columns
Although 3 people have currently been assigned to clean the columns, I felt it was better to split the colums into 6 sections to avoid the cleaning taking place in such large clusters. Definitely feel free to add more cells in order to have more space for cleaning.

### Cleaning Rows 1-5

In [9]:
# Code

### Cleaning Rows 6-10

In [10]:
# Code

### Cleaning Rows 10-15

In [11]:
# Code

### Cleaning Rows 16-20

In [12]:
# Code

### Cleaning Rows 20-25

In [13]:
# Code

### Cleaning Rows 26-30

In [ ]:
# Code